[submodule "Velvet/vendor/spdlog"]
	path = Velvet/vendor/spdlog
	url = https://github.com/jackphillips31/spdlog
	branch = v2.x
[submodule "Velvet/vendor/GLFW"]
	path = Velvet/vendor/GLFW
	url = https://github.com/jackphillips31/glfw
	branch = master
[submodule "Velvet/vendor/imgui"]
	path = Velvet/vendor/imgui
	url = https://github.com/jackphillips31/imgui
	branch = docking
[submodule "Velvet/vendor/glm"]
	path = Velvet/vendor/glm
	url = https://github.com/g-truc/glm
	branch = master
